body {
    background-color: rgb(30,30,30);
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: #ededed;
}

#title{
    text-align: center;
    font-size: 48px;
}

#avatar{
    width: 50%;
    height: 50%;

}

#left_column_drivers{
    width: 25%;
    
}

